/***** video background *****/
#bgvid {
    min-width:100%;
    min-height:auto;
    width:100%;
    background:#fff;
    visibility:visible;
    /*background-size:cover;*/
    position: relative; /*solve the problem of the hyperlink behind with looking at 小鬱亂入*/
    z-index: -1; /*solve the problem of the hyperlink behind with looking at 小鬱亂入*/
}
#bgvid source {
}

/***** preload gif *****/
.preload {
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform:translate(-50%, -50%);
    z-index: 2;
}

/***** preloader *****/
.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    transition: 1s;
    z-index: 1;
}

.preloader:before
{
    content: '';
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:before
{
    left: -50%;
}

.preloader:after
{
    content: '';
    position: absolute;
    right: 0%;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:after
{
    right: -50%;
}

.preloader.complete
{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/***** navbar CSS *****/
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    min-height: 0vh;
    /* viewport height */
    /*background: url(style.jpg)no-repeat 50% 50%;*/
    /* color image repeat attachment position */
    /*background: orange;*/
    background-size: cover;
}

.content {
    width: 94%;
    margin: 4em auto;
    /*top,bottom 4 times the size of the current font*/
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo img {
    /*position: fixed;*/
    float: left;
    margin: 0px 25px;
    /*background-size: cover;*/
    height: 80px;
    /*background-color:blueviolet; */
}

nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 40px;
    list-style: none; /*reomve bullet*/
    background: rgba(0, 0, 0, 0); /*transparent*/
    overflow: hidden;
    /*The overflow is clipped, and the rest of the content will be invisible*/
    color: #fff;
    padding: 0; /*remove extra space*/
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;/*background color change*/
}

nav.black ul { /*when scroll*/
    background: #000; 
}

nav ul li { 
    display: inline-block; /*to a line*/
    padding: 16px 30px;
}

nav ul li a { /*text*/
    text-decoration: none; /*remove underline*/ 
    font-family: "Microsoft JhengHei", sans-serif;
    color: #4e5c69;
    color: #fff;
    font-size: 18px;
    font-weight: 1;
}

.menu-icon {
    line-height: 40px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #eac475;
    display: none; /*display when screen smaller 769px*/
}



@media(max-width: 810px) { /*screen smaller than 769px*/
    #bgvid {
        margin-top:70px;
    }
    #hi img {
        padding: 0;
        margin: 0px;
        margin-top: -50px;
        margin-left: 28vw;
        margin-right: 0px;
        height: 80px;
    }
    #hi h1{
        text-align: center;
        float: left;
    }
    .logo img {
        padding: 0;
        margin: 10;
        height: 0px;
        line-height: 0;
    }
    .logo h1 {
        text-align: center;
    }
    nav ul {
        max-height: 0px;
        background: #4e5c69; /*when showing ul background*/
    }
    nav.black ul {
        background: #4e5c69; /*when scroll ramain black*/
    }
    .showing {
        max-height: 40em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 2px;
        text-align: center;
        border-bottom: 1px dotted #ddd;
        margin-left: 18px; 
    }
    .menu-icon {
        display:block;                  
    }
}



/***** FLIP CARD CSS *****/
.maincontainer {
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
    transform: rotateY(180deg);
}
/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /*background: #ffc728;*/
    background: rgba(0, 0, 0, 0);
    color: #000;
}
/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    /*background: #fafafa;*/
    background: rgba(0, 0, 0, 0);
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}
/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1,
.theback h1 {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.thefront p,
.theback p {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

#s1 {
    margin-top: -5px;
    padding: 0px;
    padding-top: 90px;
    min-height: 100vh;
    background-image: url(01.png);
    background-color: #4e5c69;
    overflow-y: hidden;
    background-size:100% auto;
    background-repeat: no-repeat; 
    background-position: bottom;
}
@media(min-width: 942px) {
    #s1 {
        background-size:auto 100%;
        background-position: right; 
    }
} /*background control*/
#s1 h1 {
    font-size: 25px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #eac475;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 20px 0px;
}
#s1 p {
    padding: 5px 0px;
    font-size: 15px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #eac475;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 20px;
}
@media(min-width: 1024px) {
    #s1 p {
    padding: 20px 0px;
    font-size: 17px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #eac475;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 25px;
    }
    #s1 h1 {
        padding-top: 20px;
    }
    #s2 p {
    padding: 20px 0px;
    font-size: 18px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #eac475;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 25px;
    }
} /*paragraph control*/
#s2 {
    margin-top: -5px;
    padding: 0px;
    padding-top: 90px;
    min-height: 100vh;
    background-color: #eac475;
}
#s2 h1 {
    font-size: 25px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #4e5c69;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 20px 0px;
}
#s2 p {
    padding: 5px 0px;
    font-size: 15px;
    font-family: "Microsoft JhengHei", sans-serif;
    color: #4e5c69;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 20px;
}
.p1 img {
    min-width: 40px;
    height: 80px;
    margin: -50px;
}






